.calendar-cell-today {
  /*background-color: #fbd0e6;*/
  /*background-color: rgba(255, 229, 243, 0.78);*/
  /*background-color: #eb2d90;*/
  background-color: #0300d0;
}
.calendar-cell-today .calendar-cell-date{
  color: #FFF;
}

.weekday-name {
  height: 2.3em;
  font-size: 1em;
  line-height: 2.2em;
  vertical-align: middle;
  padding: 0;
}
#calendar-search {
  font-size: 1em;
  line-height: 2em;
  padding: 0 0.7em;
  height: auto;
  font-weight: 400;
  vertical-align: middle;
}
.calendar-event-name {
  font-size: 10px;
  display: inline-block;
  top: -3px;
  height: 1em;
  line-height: 1;
  vertical-align: middle;
  position: relative;
}
.calendar-event-type {
  height: 17px;
  /* padding-bottom: 5px; */
  width: 5px;
  position: relative;
  top: 0;
  margin: -2px 0;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
}

.calendar-event-icons {
  font-size: 12px;
  padding-right: 10px;
  position: relative;
  top: 1px;
}

[data-event-type="webinar"] {
  background-color: rgb(183, 151, 207);
  /*background-color: #e9d6ff;*/
}
[data-event-type="webinar"] .calendar-event-type {
  background-color: #4900a3;
}

[data-event-type="training"] {
  background-color: rgb(238, 151, 157);
  /*background-color: #f0adb3;*/
  /*background-color:#ccfbff;*/
}
[data-event-type="training"] .calendar-event-type {
  background-color: red;
  /*background-color: #005961;*/
}
[data-event-type="conf"] {
  /*background-color: #f0adb3;*/
}
[data-event-type="conf"] .calendar-event-type {
  /*background-color: red;*/
}

[data-ex] {
  background: #eaeaea;
}
.filter-row-container {
  padding-top: 8px;
  padding-bottom: 8px;
}
.filter-row-container:nth-child(2) {
  padding-top: 0
}
.filter-name {
  font-weight: 700;
  color: rgba(119, 119, 119, 0.92);
}
.col-9.calendar-mount-container {
  padding-right: 32px;
}
.form-control {
  width: 250px
}
.form-check-label {
  line-height: 1.1;
}
.form-check {
  margin-left: 16px;
  font-size: 14px;
  color: #000;
}
.form-check .form-check-input,
.form-check .form-check-label {
  cursor: pointer;
}
.form-check:hover {
  color:red;
}
.weekday-name {
  font-size: 14px;
}
.btn-outline-secondary {
  border-color:rgba( 0, 0, 0, 0.03 );
}
.btn-outline-secondary:hover {
  background: red;
}
.month-select-name-container_color {
  color: red;
  font-weight: 700;
  position: relative;
}
.month-select-name-container {
  font-weight: 500;
  position: relative;
  font-size: 16px;
}
.month-select-name-container_color::after {
  content: '';
    position: absolute;
    bottom: -4px;
    left: 107%;
    width: 36px;
    height: 2px;
    background: red;
}
.calendar-event-pers {
  position: absolute;
  right: -16px;
}
.calendar-event-container .row .col-12 {
    padding-right: 54px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.legend-title {
    font-weight: 700;
    margin-left: -16px;
    color: rgba(119, 119, 119, 0.92);
}
.legend-box {
    display: inline-block;
    width: 1em;
    position: relative;
    height: 1em;
    top: 2px;
    margin-right: 4px;
  }
.legend-description {
  display: inline-block;
}